

#forma {
    width: 100%;
}

body{
    background-image: url(../images/coffee-beans-top-view-white-background-space-text.jpg);
}



form {
    max-width: 700px;
    width: 90%;
    background: rgb(40,40,40);
    margin: 10vh auto 0 auto;
    padding: 40px;
    box-sizing: border-box; 
    border-radius: 30px;
    color: white;
    /* box-shadow: 10px 10px 12px 4px rgb(40 40 40 / 70%); */

}
h1 {
    margin: 0;
    text-align: center;
}
label {
    display: block;
    margin: 20px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    resize: none ;
    
}

input[type="text"]:focus, textarea:focus {  /* kada se klikne na textareu ili text border bottom postaje crveni */
    border: 2px solid rgb(0,0,0);
}

input[type="submit"] {
    /* margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: rgb(218, 82, 82);
    color: white;
    max-width: 200px;
    font-size: 17px;
    cursor: pointer; */
    margin-top: 10px;
    background-color: #141414;
    border: 1px solid rgba(54, 54, 54, 0.6);
    font-weight: 600;
    position: relative;
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 45px;
    width: 130px;
    opacity: 1;
    color: white;
}

input[type="submit"]:hover{
    background-color: rgba(0, 0, 0, 0.8);
}


.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.text {
    width: 50%;
    height: 50%;
    padding: 40px;
    margin: 16vh auto 0 3%;
    background-color: rgb(40,40,40);
    border-radius: 30px;
    color: white;
    /* box-shadow: 10px 10px 12px 4px rgb(40 40 40 / 70%); */
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: rgb(40, 40, 40);
    color: white;
  }

  .fa-instagram {
    background: rgb(40, 40, 40);
    color: white;
  }
  
  .fa-pinterest {
    background: rgb(40, 40, 40);
    color: white;
  }

  .fa-twitter{
    background: rgb(40, 40, 40);
    color: white;
  }

  @media (max-width:1000px) {
    .container{
        flex-direction: column;
    }
    
    .text{
        /* margin-left: 5%; */
        align-self: center;
        width: 80%;
        margin: 10vh auto 0 auto;
    }
}

#dugme {
    background-color: white; /* Green */
    border: none;
    color: rgb(40, 40, 40);
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}


  
